<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.commands">
		<command
			id="com.xcplm.tc.rac.command.TestPreferenceUtilCommand"
			name="TestPreferenceUtil"
		/>
		<command
			id="com.xcplm.tc.rac.command.TestItemUtilCommand"
			name="TestItemUtil"
		/>
		<command
			id="com.xcplm.tc.rac.command.TestSessionUtilCommand"
			name="TestSessionUtil"
		/>
		<command
			id="com.xcplm.tc.rac.command.TestRevisionUtilCommand"
			name="TestRevisionUtil"
		/>
		<command
            id="com.xcplm.tc.rac.command.TestDatasetUtilCommand"
            name="TestDatasetUtil"
        />
        <command
            id="com.xcplm.tc.rac.command.TestCommand"
            name="Test"
        />
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="com.xcplm.tc.rac.command.TestPreferenceUtilCommand"
			class="com.xcplm.tc.rac.handler.TestPreferenceUtilHandler"
		/>
		<handler
			commandId="com.xcplm.tc.rac.command.TestItemUtilCommand"
			class="com.xcplm.tc.rac.handler.TestItemUtilHandler"
		/>
		<handler
			commandId="com.xcplm.tc.rac.command.TestSessionUtilCommand"
			class="com.xcplm.tc.rac.handler.TestSessionUtilHandler"
		/>
		<handler
			commandId="com.xcplm.tc.rac.command.TestRevisionUtilCommand"
			class="com.xcplm.tc.rac.handler.TestRevisionUtilHandler"
		/>
		<handler
            commandId="com.xcplm.tc.rac.command.TestDatasetUtilCommand"
            class="com.xcplm.tc.rac.handler.TestDatasetUtilHandler"
        />
        <handler
            commandId="com.xcplm.tc.rac.command.TestCommand"
            class="com.xcplm.tc.rac.handler.TestHandler"
        />
	</extension>
   
   	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu id="com.xcplm.tc.rac.menu.test" label="Test">
				<command commandId="com.xcplm.tc.rac.command.TestPreferenceUtilCommand" />
				<command commandId="com.xcplm.tc.rac.command.TestItemUtilCommand" />
				<command commandId="com.xcplm.tc.rac.command.TestSessionUtilCommand" />
				<command commandId="com.xcplm.tc.rac.command.TestRevisionUtilCommand" />
				<command commandId="com.xcplm.tc.rac.command.TestDatasetUtilCommand" />
                <command commandId="com.xcplm.tc.rac.command.TestCommand" />
			</menu>
		</menuContribution>
	</extension>
	
</plugin>
